<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="GroupsTesting">
<listeners>
<listener class-name="TestNG1.Listener"></listener>
</listeners>

<test name="Groups">
	          <classes>
		  <class name="TestNG1.TestAnnotationEx1"></class>
		  <class name="TestNG1.TestAnnotationEx2"></class>
	          </classes>	
	      </test>
</suite>
